$font-primary: 'Nunito', sans-serif;

$primary: #03d665;
$primary2: #7329c2;
$text-dark: #322f55;
$text-body: #7f7f7f;
$white: #ffffff;
$text-rgba: rgba(255, 255, 255, 0.8);


$border-primary:  #03d665;
$border-light:  #eeeefe;

$bg-dark: #0d092c;
$bg-light: #f8fcff;